.c-stepper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.c-stepper__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c-stepper__item:before {
    --size: 3rem;
    content: '';
    position: relative;
    z-index: 1;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin: 0 auto;
    background-color: aqua;
    opacity: 0.3;
}

.c-stepper__item:not(:last-child):after {
    --spacing: 8px;
    content: '';
    height: 2px;
    background-color: #e0e0e0;
    order: -1;
    position:relative;
    top: 1.5rem;
    /* left: 50%; */
    left: calc(50% + 24px + var(--spacing));
    width: calc(100% - 3rem - var(--spacing) - var(--spacing));
}

.c-stepper__item:first-child:after {
    background-color: red;
}